<a href="https://colab.research.google.com/github/ChrDobbert/Cheat_sheets/blob/main/Custom_Snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AutoML: Import libraries for H2O

# Save csv and download to desktop

In [ ]:
from google.colab import files

df.to_csv('df.csv') 
files.download('df.csv')

# EDA: Import libraries for EDA

In [ ]:
import pandas as pd
#pd.set_option("display.max.columns", None)

#re is for regular expression and .split method
import re

import seaborn as sns

import numpy as np
import pandas as pd
#for stuff in colaboratory?
import pandas.util.testing as tm

import matplotlib.pyplot as plt
%matplotlib inline

import xlrd
pd.set_option("display.max.columns", None)

# EDA: Look at the dataset

In [1]:


df.info()

df.dtypes

print("\n" + "Head" + "\n" + "_"*80)
df.head()

print("\n" + "Describe" + "\n" + "_"*80)
df.describe()

df.shape


print("\n" + "Columns" + "\n" + "_"*80)
col = df.columns
#print(df[col[0:4]])

df.columns

print("\n" + "Index" + "\n" + "_"*80)
df.index

NameError: ignored

# EDA: Filter for a column name

In [ ]:
df.filter(like="sepal").head()

# EDA: Subsetting a dataset

In [ ]:
print(df[df['class'] == "Iris-virginica"].head(10))

print(df[df['sepal-length'] > 7].head(10))

# EDA: Counting & Summary

In [ ]:
print("\n" + "COUNT OF ENTRIES BY COLUMNS" + "\n" + "_"*80)
count_per_class = df['class'].value_counts()
print(count_per_class)

print("\n" + "NORMALIZED COUNT" + "\n" + "_"*80)
print(df['class'].value_counts(normalize=True))

# With Numpy For each store type, aggregate weekly_sales: get min, max, mean, and median
#[df.columns[0:4] is used to select the columns of interest
stats = df.groupby("class")[df.columns[0:4]].agg([np.min, np.max, np.mean, np.median])
stats

# EDA: Missing values

In [ ]:
print("\n" + "Any missing value?" + "\n" + "_"*80)

print(df.isnull().values.any())

print("\n" + 
      "How many missing values?" +
      "\n" + '_'*80)

print(df.isnull().sum().sum())

print("\n" + "Where are the missing values?" + "\n" + "_"*80)
print(df.isnull().sum())

# EDA: Missing values table

In [ ]:
# Missing values
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns


missing_values= missing_values_table(city_day)
missing_values.style.background_gradient(cmap='Reds')

# EDA: change type of Columns

# EDA Automatic with AutoViz

In [ ]:
''' Another great library for automatic EDA is AutoViz.
With this library, several plots are generated with only 1 line of code.
When combined with pandas_profiling, we obtain lots of information in a
matter of seconds, using less then 5 lines of code. '''
%pip install autoviz # installing and importing autoviz, another library for automatic data visualization
from autoviz.AutoViz_Class import AutoViz_Class

AV = AutoViz_Class()

# Let's now visualize the plots generated by AutoViz.
report_2 = AV.AutoViz(os.path.join(home, 'shootings_wash_post.csv'))

In [ ]:
#!pip install pandas-profiling
import pandas_profiling # library for automatic EDA

report = pandas_profiling.ProfileReport(df)

# Feature Engineering: mapping

In [ ]:
def map_data(df):
    '''
    Function which takes the original dataframe and returns a 
    clean / updated dataframe
    '''
    # survived map
    survived_map = {0: False, 1: True}
    df['Survived'] = df['Survived'].map(survived_map)

    # PClass map
    pclass_map = {1: 'Upper Class', 2: 'Middle Class', 3: 'Lower Class'}
    df['Pclass'] = df['Pclass'].map(pclass_map)

    # Embarkation port map
    port_map = {'S': 'Southampton', 'C': 'Cherbourg','Q':'Queenstown'}
    df['Embarked'] = df['Embarked'].map(port_map)
    
    # add new column (FamilySize) to dataframe - sum of SibSp and Parch
    df['FamilySize'] = df['SibSp'] + df['Parch']
    
    return df

titanic_df = map_data(titanic_df)
titanic_df.head(3)

# Feature Engineering: loc, creating variables, filter, change

In [ ]:
# Creating a categorical variable for Ages
df['AgeCat'] = ''
df['AgeCat'].loc[(df['Age'] < 18)] = 'young'
df['AgeCat'].loc[(df['Age'] >= 18) & (df['Age'] < 56)] = 'mature'
df['AgeCat'].loc[(df['Age'] >= 56)] = 'senior'

In [ ]:
#df = pd.DataFrame({'float': [1.0],
  #                   'int': [1],
  #                   'datetime': [pd.Timestamp('20180310')],
  #                   'string': ['foo']})
  #df.dtypes
  #float              float64
  #int                  int64
  #datetime    datetime64[ns]
  #string              object

df['class'] = df['class'].astype('category')
df.dtypes

# Read datasets: CSV from url

In [ ]:
#source = "url_address"
#df = pd.read_excel(source)


#url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
#column_names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
#df = pd.read_csv(url, names = column_names)
                
url = ""
df = pd.read_csv(url)

print(type(df))

# Set up Kaggle API (Step 1)

In [ ]:
!pip install kaggle

from google.colab import files
files.upload()

# Set up Kaggle API (Step 2)

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

# Get datasets: CSV from Kaggle API

In [ ]:
#Next:
#   “Copy the API Command” of the dataset that we want to import from Kaggle.
#   !kaggle competitions download -c titanic

#Let’s see the imported files:
!ls

#!rm remove files

# Read datasets zip files: Kaggle API

In [ ]:
#Now, the last step is to open the extracted files and get the data:
import zipfile
zip_ref = zipfile.ZipFile(‘the-movies-dataset.zip’, ‘r’)
zip_ref.extractall(‘files’)
zip_ref.close()

# Load files imported from Kaggle API

In [ ]:

train = pd.read_csv("test.csv")
test = pd.read_csv("test.csv")

# Visualisation: Add sns.pairplot

In [ ]:
sns.pairplot(df, #hue="class",
plot_kws=dict(s=100, linewidth=.5))

# Visualisation: Add sns.corr plot , correlation, heatmap

In [ ]:
colorMap = sns.color_palette("YlGnBu", n_colors=5)

mask = np.tril(df.corr())
sns.heatmap(df.corr(), fmt=".2g", annot = True, cmap= colorMap, mask=mask)

# Visualisation: Add PPS, predictive power score

In [ ]:
!pip install ppscore

import ppscore as pps

df.columns

col = df.columns
print(df[col[0:6]])

pps.score(df, "sepal-length","class")

df_pps = df[col[0:6]]
#df_pps.columns()
pps.matrix(df_pps)

colorMap = sns.color_palette("YlGnBu", n_colors=5)

matrix_df_pps = pps.matrix(df_pps)[['x','y','ppscore']].pivot(columns='x',index='y', values='ppscore')

sns.heatmap(matrix_df_pps, vmin=0, vmax=1,cmap=colorMap ,linewidths=0.5,annot=True)

# Creat pandas dataframe with a list or dictionary

In [ ]:
import pandas as pd

# List
lst = [['tom', 'reacher', 25], ['krish', 'pete', 30], 
       ['nick', 'wilson', 26], ['juli', 'williams', 22]] 
    
df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float) 
display(df)


#Dictionary
dictionary = {
    "First_Name" :
    [
     "tom", "nick"
    ],
    "Second_Name" :
    [
     "pete", "williams"
    ],
    "Age" :
    [
     30,
     20
    ]
}

df_2 = pd.DataFrame(dictionary) 
display(df_2)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   juli  williams  22.0

  First_Name Second_Name  Age
0        tom        pete   30
1       nick    williams   20

# Text line for print line

In [ ]:
text_lines = "\n" + "_" * 80 + "\n\n"

# Check function in modules

In [ ]:
help(map)

dir(map)

# Check .methods in modules

# Library for work with URL, HTTP, webpage

In [ ]:
#Begin by importing the Requests module:
import requests

#Now, let’s try to get a webpage. 
url = "https://api.github.com/events"
r = requests.get(url)
#Now, we have a Response object called r. We can get all the information we need from this object.

#You can also pass a list of items as a value:

#payload = {'key1': 'value1', 'key2': ['value2', 'value3']}

#r = requests.get('https://httpbin.org/get', params=payload)
#print(r.url)
#https://httpbin.org/get?key1=value1&key2=value2&key2=value3

#Response Content
#We can read the content of the server’s response. Consider the GitHub timeline again:
r.text

#When you make a request, Requests makes educated guesses about the encoding of the response based on the HTTP headers. 
#The text encoding guessed by Requests is used when you access r.text. You can find out what encoding Requests is using, and change it, using the r.encoding property:

print(r.encoding)
#Chenge encoding goes like this
#r.encoding = 'ISO-8859-1'

utf-8

# Library: Scrapy pip install

In [ ]:
!pip install scrapy

# Library: Scrapy, Requests (html content, webpage)

In [ ]:
import scrapy
import requests
import time

#Version 1
#url = "xxx"
#html = requests.get(url)

#Version 2
response = HtmlResponse(url='http://example.com', body=body)
response.selector.xpath('//span/text()').get()
Selector(response=response).xpath('//span/text()').get()

#Version 3
url = ""

html = requests.get( url ).content
print(r.status_code)
print(r.headers)

# Create the Selector object sel from html
sel = Selector( text = html )

# Example Extract from selector
#next_page = sel.css('.mm-product-list-page__pagination').extract()
#str_x = str(next_page)
#next_page_2 = re.findall(r'(?<=init-pages-quantity=).*$', str_x)
#last_page = (int(next_page_2[0].split()[0].replace('"',"")))

# String methods

# Regular Expression with re

In [ ]:
import re

text = "RegExr was created by gskinner.com, and is proudly hosted by Media Temple.Edit the Expression & Text to see matches."

#help(re)
result = re.search(r'(\w+\s&)(\s\w*)', text)

#When using a () inside the reg ex you create groups to be selected
result.group(2)

' Text'

# Pandas Values count

# Show unique values per column in dataframe pandas

In [ ]:
for column in df_train.columns:
  print("In column %s" % column)
  print(df_train[column].unique())
  print(80 * "_")

# Show count of unique values per column in dataframe pandas

In [ ]:
for column in df_train.columns:
    print(column, len(df_train[column].dropna().unique()))