# Python cheat sheet

## Libraries

In [1]:
import pandas as pd
import numpy as np

## Creating DataFrames

In [2]:
# Specify values for each column
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3]
)

display(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
# Specify values for each row
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c']
)
display(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
#Create DataFrame with a MultiIndex
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',2)],
names=['n','v']))

display(df)
df = df.reset_index()
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

   n  v  a  b   c
0  d  1  4  7  10
1  d  2  5  8  11
2  e  2  6  9  12

In [5]:
some_list = ['foo', 'bar', 'baz']

mapping = {}
for i, v in enumerate(some_list):
  mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

## Datatypes: categorical

### Ordered categories

In [6]:
# Create a list of weather ratings in logical order
category_order = ['good', 'bad', 'worse']

# Change the data type of 'rating' to category
weather['rating'] = weather.rating.astype('category', ordered=True, categories=category_order)

# Examine the head of 'rating'
print(weather.rating.head())

NameError: name 'weather' is not defined

In [ ]:
# Count the unique values in 'bad_conditions' and sort the index
print(weather.bad_conditions.value_counts().sort_index())

# Create a dictionary that maps integers to strings
mapping = {0:'good', 1:'bad', 2:'bad', 3:'bad', 4:'bad', 5:'worse', 6:'worse', 7:'worse', 8:'worse', 9:'worse'}

# Convert the 'bad_conditions' integers to strings using the 'mapping'
weather['rating'] = weather.bad_conditions.map(mapping)

# Count the unique values in 'rating'
print(weather.rating.value_counts())